<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/components/scrollspy/">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>

    <nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
            <img src = "https://cdn3.iconfinder.com/data/icons/social-media-2034/500/picasa-128.png" alt="LOGO" width = "3%">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse in" id="navbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/galerie">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
                        Galerie
                        </a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/admin">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                        Admin
                        </a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/veille">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                        Veille
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

    <div class="m-5" >
        <div class="row">
            {% for post in post_list %}
            <div class="col lg-3">
                <div class="card text-white bg-success" style="width: 20rem;">
                    {% load static %}
                    <img class="card-img-top" src="{% static post.url %}" alt="My image" style="max-width: 100%">
                    <div class="card-body">
                        <h5 class="card-title"> {{ post.nom }} </h5>
                        <p class="card-text"> {{ post.date }}</p>

                        <h5 class="card-title">Télechargé</h5>
                        <p class="card-text"> {{ post.nb_telechargement }}</p>
                        {{ post.image.url }}
                        <button type="submit" value="downloadImage" onclick="{{ post.image.url }}">Download image</button>

                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>